body {
    background-color: DarkGray;
    padding: 40px;
    font-size: 16pt;
}
li {
    margin-bottom: 3pt;
    background-color: dimgray;
    width: 80%;
}

div {
    margin: 0 auto;
}

input {
    border-radius: 7pt;
    border-width:2pt;
    border-color: darkgreen;
    margin: 0 auto;
    /*display: flex;*/
    justify-content: center;
    font-size: 16pt;
    width: 400pt;
}

li  {
    /*width: 400pt;*/
}

button {
    border: 1pt solid;
    border-color: Navy;
    border-radius: 9pt;
    font-size: x-large;
    width: 90pt;
    height: 35pt;
    margin-left:20pt;
}


.download {
    width: 120pt;
    margin-left: 0pt;
}

.done {
    width: 55pt;
}

.delete {
    width: 65pt;
}

.enter {
    width: 70pt;
}

.already_done{
    font-weight:bold;
    text-decoration:line-through;
}

h1{
    font-size: 46pt;
    color: white;
}